$mainColor : #19A7CE;

$navHeight : 50px;
$conentWidth : 1060px;


$vw180:max(10.417vw,160px);
$vw160:max(8.333vw, 120px);
$vw120:max(6.25vw, 88px);
$vw100:max(5.208vw, 80px);
$vw72:max(3.75vw, 72px);
$vw64:max(3.333vw, 52px);
$vw56:max(3.75vw, 56px);