#Content{
    width: 100%;
    padding-top: $navHeight;
    .wrapper{
        padding-top: calc($navHeight + 32px);
        position: relative;
        margin: 0 auto;
        max-width: $conentWidth;
        display: flex;
        flex-wrap: wrap;
        .contents_container{
            width: calc(50% - max(2.0833vw, 20px));
            margin-bottom: max(1.3021vw, 50px);
            &:not(:last-of-type){
                margin-right: max(2.0833vw, 40px)
            }
            h5{
                font-size: 32px;
                font-weight: 500;
                line-height: 135%;
                margin-bottom:  max(2.0833vw, 40px)
            }
            .recommend_container{
                background: rgb(6, 9, 197);
                display: block;
                width: 100%;
                height: 400px;
                border-radius: max(1rem, 0.8334vw);
                transform-origin: center;
                transition: 300ms ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    transform: scale(0.98);
                    transition: 300ms ease-in-out;
                }
            }
            .chart_container{
                width: 100%;
                display: flex;
                justify-content: center;
            }
        } 

        .quiz-container{
            width: 100%;
            background: $mainColor;
            padding: max(2.0833vw, 40px);
            border-radius: max(1rem, 0.8334vw);
            position: relative;
            h1{
                font-size: 32px;
                color: #fff;
                font-weight: 500;
                line-height: 135%;
                margin-bottom: max(2.0833vw, 52px);
                b{
                    font-weight: 600;
                }
            }
            .orders{
                background: #fff;
                font-size: 22px;
                font-weight: 500;
                color: #000;
                padding: max(2.0833vw, 20px);
                border-radius: max(1rem, 0.8334vw);
                span{
                    display: block;
                    &:not(:last-of-type){
                        margin-bottom: 18px;
                    }
                }
            }
            .circle-chart{
                position: absolute;
                top: 0;
                right: 0;
                width: 300px;
                height: 300px;
            }
            .btns-group{
                button{
                    display: flex;
                    background: #fff;
                    border-radius: max(1rem, 0.8334vw);
                    padding: 20px;
                    font-size: 22px;
                    font-weight: 500;
                    cursor: pointer;
                    b{
                        margin-right: 1rem;
                        font-weight: 600;
                    }
                    p{
                        color: #333;
                    }
                    &:first-of-type{
                        margin-bottom: 20px;
                    }
                }
            }
        }
        @media screen and (max-width: 1024px) {
            flex-direction: column;
            .contents_container{
                width: 100%;
                padding: 0 20px;
            }
        }
    }
}