#Content{
    width: 100%;
    padding-top: $navHeight;
    .wrapper{
        padding-top: calc($navHeight + 32px);
        position: relative;
        margin: 0 auto;
        max-width: $conentWidth;
        display: flex;
        flex-wrap: wrap;
        .contents_container{
            width: calc(50% - max(2.0833vw, 20px));
            margin-bottom: max(1.3021vw, 50px);
            h5{
                font-size: 32px;
                font-weight: 500;
                line-height: 135%;
                margin-bottom:  max(2.0833vw, 40px)
            }
            .recommend_container{
                background: rgb(6, 9, 197);
                display: block;
                width: 100%;
                height: 450px;
                border-radius: max(1rem, 0.8334vw);
                transform-origin: center;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                transition: 300ms ease-in-out;
                &:hover{
                    transform: scale(0.98);
                    transition: 300ms ease-in-out;
                }
                h5{
                    display: none;
                    position: absolute;
                    left: 20px;
                    font-size: 32px;
                    font-weight: 500;
                    color: #fff;
                }
            }
            .chart_container{
                width: 100%;
                display: flex;
                justify-content: center;
                border-radius: max(1rem, 0.8334vw);
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                height: 450px;
                background: #333;
            }
            &.recommend{
                margin-right: max(2.0833vw, 40px);
            }
            &.hot{
                width: 100%;
                .grid-hot{
                    ul{
                        display: flex;
                        flex: 0 1 auto;
                        flex-direction: row;
                        flex-wrap: wrap;
                        li{
                            width: 33.3333333333%;
                            flex-basis: 33.3333333333%;
                            padding-left: 0.6rem;
                            padding-right: 0.6rem;
                            max-width: calc(100% / 12 * 6);
                            margin-bottom: 20px;
                            transition: 300ms ease-in-out;
                            &:hover{
                                transform: scale(0.98);
                                transition: 300ms ease-in-out;
                            }
                            a{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                padding: 20px;
                                border: 1px solid rgba(17,17,17,.1);
                                border-radius: 1.6rem;
                                height: 350px;
                                overflow: hidden;
                                h5{
                                    font-size: 22px;
                                    font-weight: 500;
                                    line-height: 150%;
                                }
                                .content-text{
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 135%;
                                    @include ellipseText(2);
                                }
                                .content-time{
                                    display: block;
                                    margin-top: 20px;
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 135%;
                                    text-align: right;
                                }
                            }
                            @media screen and (max-width: 1024px) {
                                width: 49%;
                                flex-basis: 49%;
                            }
                            @media screen and (max-width : 786px) {
                                width: 100%;
                                flex-basis: 100%;
                                padding-left: 0;
                                padding-right: 0;
                                max-width: initial;
                                a{
                                    h5{
                                        font-size: 18px;
                                        font-weight: 500;
                                        line-height: 150%;
                                    }
                                    .content-text,.content-time{
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        } 

        .quiz-container{
            width: 100%;
            background: $mainColor;
            padding: max(2.0833vw, 40px);
            border-radius: max(1rem, 0.8334vw);
            position: relative;
            .number{
                display: flex;
                font-size: 28px;
                color: #fff;
                font-weight: 500;
                line-height: 150%;
                margin-bottom: max(1.0417vw, 20px);
                p{
                    letter-spacing: 0.02em;
                }
            }
            h1{
                font-size: 32px;
                color: #fff;
                font-weight: 500;
                line-height: 135%;
                display: flex;
                margin-bottom: max(2.7083vw, 52px);
                b{
                    font-weight: 600;
                }
            }
            .orders{
                background: #fff;
                font-size: 22px;
                font-weight: 500;
                color: #000;
                padding: max(2.0833vw, 20px);
                border-radius: max(1rem, 0.8334vw);
                span{
                    display: block;
                    &:not(:last-of-type){
                        margin-bottom: 18px;
                    }
                }
            }
            .circle-chart{
                position: absolute;
                top: 0;
                right: 0;
                width: 300px;
                height: 300px;
            }
            .btns-group{
                button{
                    display: flex;
                    background: #fff;
                    border-radius: max(1rem, 0.8334vw);
                    padding: 20px;
                    font-size: 22px;
                    font-weight: 500;
                    cursor: pointer;
                    transition: 300ms ease-in-out;
                    b{
                        margin-right: 1rem;
                        font-weight: 600;
                    }
                    p{
                        color: #333;
                    }
                    &:first-of-type{
                        margin-bottom: 20px;
                    }
                    &:hover{
                        transform: translateY(-5px);
                        transition: 300ms ease-in-out;
                    }
                }
            }
        }
        @media screen and (max-width: 1024px) {
            flex-direction: column;
            .contents_container{
                width: 100%;
                padding: 0 20px;
            }
        }
    }
}


tspan{
    text-transform: uppercase;   
}