#Detail{
    width: 100%;
    padding-top: $navHeight;
    .wrapper{
        margin: 0 auto;
        max-width: $conentWidth;
        .header{
            h1{
                display: block;
                margin-top: __vw(100);
                font-size: $h1;
            }
            .container_user{
                margin-top: __vw(50);
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-size: 20px;
                span{
                    font-size: inherit;
                    &:not(:last-of-type){
                        margin-right: 1rem;
                    }
                }
                .date{
                    font-size: 20px;
                    line-height: 135%;
                }
            }
        }
        .main_content{
            margin-top: __vw(50);
            min-height: __vw(500);
            border-bottom: 1px solid #ACACAC;
            .content{
                font-size: 18px;
                line-height: 135%;
                letter-spacing: -0.03em;
                padding-bottom: 20px;
            }
        }

        .comment_container{
            margin-top: 30px;
            padding: 0 20px;
            .comment_name{
                font-size: 18px;
                line-height: 135%;
                letter-spacing: -0.03em;
                margin-bottom: 20px;
            }
            .comment_input{
                width: 100%;
                background: #F2F2F2;
                border-radius: 8px;
                position: relative;
                font-size: 18px;
                line-height: 135%;
                letter-spacing: -0.03em;
                textarea{
                    width: 100%;
                    font-size: inherit;
                    line-height: 135%;
                    height: 100px;
                    border: none;
                    background: transparent;
                    resize: none;
                    padding: 16px 20px;
                    outline: none;
                    letter-spacing: -0.03em;
                }
                .count_number{
                    position: absolute;
                    bottom: __vw(20);
                    right: __vw(20);
                    font-size: 20px;
                    .current{
                        font-size: inherit;
                        display: inline-block;
                        color: #666666;
                        margin-right: 0.5rem;
                    }
                }
            }
            .btn_container{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-top: 10px;
                button{
                    cursor: pointer;
                    border-radius: 25px;
                    padding: __vw(6) __vw(12);
                }
            }
            
        }
        
        .bottom{
            display: flex;
            button{
                &:not(:last-of-type){
                    margin-right: 15px;
                }
            }
            .edit_btn{
                width: __vw(50);
                height: __vw(50);
                border: none;
                border-radius: 50%;
                background: #fff;
                border: 1px solid black;
                svg{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                &:hover{
                    transition: 0.5s;
                    background: #ACACAC;
                }
            }
            .delete_btn{
                width: __vw(50);
                height: __vw(50);
                border: none;
                border-radius: 50%;
                background: #fff;
                border: 1px solid black;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                &:hover{
                    transition: 0.5s;
                    background: #ACACAC;
                }
            }
        }
    }
}