#Detail{
    width: 100%;
    display: flex;
    justify-content: center;
    .warrper{
        width: __vw(1200);
        h1{
            display: block;
            margin-top: __vw(100);
            font-size: __vw(55);
        }
        .content{
            margin-top: __vw(50);
            font-size: __vw(24);
            line-height: 135%;
        }
        .container_date{
            margin-top: __vw(50);
            width: 100%;
            display: flex;
            justify-content: end;
            .date{
                font-size: __vw(24);
                line-height: 135%;
            }
        }
        
    }
}