@font-face {
    font-family: "Noto Sans KR";
    src: url(/fonts/NotoSansKR400.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans KR";
    src: url(/fonts/NotoSansKR500.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans KR";
    src: url(/fonts/NotoSansKR700.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}