#Home{
    width: 100%;
    display: flex;
    justify-content: center;
    .warrper{
        width: __vw(1200);
        h1{
            display: block;
            margin-top: __vw(100);
            font-size: __vw(55);
        }
        ul{
            display: block;
            margin-top: __vw(80);
            li{
                display: block;
                width: 100%;
                min-height: __vw(100);
                &:not(:last-of-type){
                    margin-bottom: __vw(30);
                }
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: __vw(30);
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    border-radius: __vw(20);
                    .title{
                        font-size: __vw(35);
                    }
                    .content{
                        margin-top: __vw(15);
                        font-size: __vw(24);
                    }
                }
                
            }
        }
    }
    
}