#Home{
    width: 100%;
    display: flex;
    justify-content: center;
    .warrper{
        position: relative;
        width: __vw(1200);
        margin-bottom: __vw(200);
        h1{
            display: block;
            margin-top: __vw(100);
            font-size: __vw(55);
        }
        ul{
            display: block;
            margin-top: __vw(80);
            li{
                display: block;
                width: 100%;
                min-height: __vw(100);
                transition: transform 200ms ease-in-out;
                &:hover{
                    transform: translateY(-5px);
                }
                &:not(:last-of-type){
                    margin-bottom: __vw(30);
                }
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: __vw(30);
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    border-radius: __vw(20);
                    .title{
                        font-size: __vw(35);
                    }
                    .content{
                        margin-top: 0.9rem;
                        font-size: __vw(24);
                        line-height: 135%;
                        @include ellipseText(2);
                    }
                    .container_bottom{
                        margin-top: __vw(20);
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        .date{
                            font-size: __vw(24);
                            line-height: 135%;
                        }
                    }
                }
                
            }
        }
        .edit{
            position: absolute;
            right: 0;
            width: fit-content;
            height: fit-content;
            a{
                display: block;
                width: __vw(60);
                height: __vw(60);
                border-radius: 50%;
                background: #ACACAC;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-size:__vw(25);
                color: #fff;
                &:hover{
                    background: black;
                    color: #fff;
                    transition: 0.5s;
                }
            }
        }
    }
    
}