#Home{
    width: 100%;
    padding-top: $navHeight;
    .wrapper{
        position: relative;
        margin: 0 auto;
        max-width: $conentWidth;
        h1{
            display: block;
            text-align: center;
            margin-top: 60px;
            font-size: 22px;
            line-height: 1.33;
            font-weight: 700;
            color: #333;
        }
        .list_container{
            .items{
                display: block;
                margin-top: __vw(80);
                margin-bottom: $vw120;
                .item{
                    display: block;
                    width: 100%;
                    min-height: __vw(100);
                    transition: transform 200ms ease-in-out;
                    &:hover{
                        transform: translateY(-5px);
                    }
                    &:not(:last-of-type){
                        margin-bottom: __vw(30);
                    }
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: __vw(30);
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        border-radius: __vw(20);
                        .title{
                            font-size: __vw(35);
                        }
                        .content{
                            margin-top: 0.9rem;
                            font-size: __vw(24);
                            line-height: 135%;
                            @include ellipseText(2);
                        }
                        .container_bottom{
                            margin-top: __vw(20);
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            .date{
                                font-size: __vw(24);
                                line-height: 135%;
                            }
                            
                        }
                    }
                    
                }
            }
        }
        
        .write_btn{
            position: absolute;
            right: 0;
            width: fit-content;
            height: fit-content;
            a{
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                svg{
                    width: 100%;
                    height: 100%;
                }
                &:hover{
                    transition: 0.5s;
                }
            }
        }
    }
}

#main_cateogry{
    margin: 30px 0;
    .items{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .item{
            display: flex;
            padding: 9px 22px;
            font-weight: 600;
            font-size: 15px;
            line-height: 146.7%;
            color: #8a8a8a;
            border: 1px solid #e1e2e4;
            border-radius: 25px;
            cursor: pointer;
            &.active{
                border: 1px solid $mainColor;
                color: $mainColor;
                transition: all 350ms ease;
            }
            &:not(:last-of-type){
                margin-right: 8px;
            }
            button{
                border: none;
                background: none;
            }
        }
    }
}