#Banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .content{
        // margin: 0 24px;
        border-radius: 5px;
        overflow: hidden;
    }
    .content_child{
        width: 100%;
        height: 280px;
        position: relative;
        .texts{
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);
            z-index: 2;
            color: #fff;
            font-size: 32px;
            font-weight: 600;
            line-height: 150%;
            h5{}
            p{font-style: italic; font-size: 37px;}
        }
        img{
            display: block;
            width: 100%;
            height: 100%; 
            object-fit: cover;
        }
    }
}

#Nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background: #fff;
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    nav{
        max-width: $conentWidth;
        width: 90%;
        margin: 0 auto;
        height: $navHeight;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            padding: 5px 10px;
            font-size: 25px;
            background: #19A7CE;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .main{
            display: flex;
            li{
                &.arrow_left{
                    cursor: pointer;
                    background: url('/icon/arrow_left.png') 50% 50% / contain no-repeat;
                    &:hover{a{&::after{opacity: 0}};}        
                }
                a{
                    position: relative;
                    vertical-align: middle;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 600;
                    padding: 15px;
                    display: inline-block;
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: #19A7CE;
                        opacity: 0;
                    }
                }
                &:hover{
                    a{&::after{opacity: 1}};
                } 
                &.active{
                    a{&::after{opacity: 1}};
                }
                
                &:not(:last-of-type){
                    margin-right: 15px;
                }
            }
        }
        .right{
            display: flex;
            span{
                font-size: 13px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:not(:last-of-type){
                    margin-right: 5px;
                }
            }
        }
    }
}

#Footer{
    margin-top: $vw120;
    width: 100%;
    background: #fff;
    border-top: 1px solid rgba(0,0,0,.1);
    padding-bottom: $vw120;
    .wrapper{
        margin: 0 auto;
        max-width: $conentWidth;
        .top{
            display: flex;
            border-bottom: 1px solid rgba(0,0,0,.1);
            li{
                padding: 18px 0 18px;
                font-size: 15px;
                color: #3a3a3a;
                font-weight: 500;
                line-height: 2.6;
                white-space: nowrap;
                &:not(:last-of-type){
                    margin-right: 45px;
                }
                &.logo{
                    padding: 5px 10px;
                    margin: auto 45px auto 0;
                    height: $navHeight;
                    font-size: 15px;
                    background: #19A7CE;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .bottom{
            padding-top: 25px;
            font-size: 12px;
            font-weight: 500;
            line-height: 150%;
            color: #767676;
        }
    }
}