#Nav{
    width: 100%;
    height: __vw(250);
    background: #19A7CE;
    .__icon{
        height: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: __vw(105);
    }
}