#Login{
    width: 100%;
    padding-top: $navHeight;
    .wrapper{
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        .container{
            max-width: $conentWidth;
            margin-top: $vw100;
            .text{
                font-size: $h1;
                letter-spacing: -0.03em;
                line-height: 135%;
            }
            .selects{
                width: 100%;
                margin-top: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .local{
                    width: 100%;
                    padding: 0;
                    margin-bottom: 10px;
                    span{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-width: 500px;
                        font-weight: 500;
                        width: 100%;
                        background: $mainColor;
                        color: white;
                        padding: 20px 15px;
                        font-size: 18px;
                        letter-spacing: -0.03em;
                        border-radius: 25px;
                        line-height: 150%;
                    }
                }
                .google{
                    width: 100%;
                    background: transparent;
                    border: none;
                    padding: 0;
                    span{
                        position: relative;
                        &::after{
                            content: '';
                            position: absolute;
                            background: url('/icon/social/google_icon.png');
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            width: 30px;
                            height: 30px;
                            left: 30px;
                        }
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-width: 500px;
                        font-weight: 500;
                        width: 100%;
                        background: white;
                        border: 1px solid #ACACAC;
                        padding: 20px 15px;
                        font-size: 18px;
                        letter-spacing: -0.03em;
                        border-radius: 25px;
                        line-height: 150%;
                    }
                } 
            }
            .box{
                width: 500px;
                height: 300px;
                background: $mainColor;
                border-radius: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                button{
                    border: none;
                    background: white;
                    font-size: 25px;
                    color: black;
                    padding: 6px 12px;
                    border-radius: 5px;
                }
            }
        }
    }
}