#Write{
    width: 100%;
    padding-top: $navHeight;
    padding-bottom: $vw120;
    .wrapper{
        position: relative;
        margin: 0 auto;
        max-width: $conentWidth;
        .title{
            display: block;
            margin-top: __vw(100);
            font-size: __vw(55);
        }
        .form{
            margin-top: __vw(50);
            .label{
                display: block;
                margin-bottom: __vw(25);
            }
            .input_title{
                display: block;
                background: #F2F2F2;
                font-size: __vw(32);
                border-radius: __vw(5);
                margin-bottom: __vw(50);
                input{
                    padding: __vw(20);
                    width: 100%;
                    border: none;
                }
            }
            .select_category{
                display: block;
                background: #F2F2F2;
                font-size: __vw(32);
                border-radius: __vw(5);
                margin-bottom: __vw(50);
                max-width: 200px;
                padding: 0 __vw(20);
                select{
                    padding: __vw(20) 0;
                    width: 100%;
                    border: none;
                    background: transparent;
                    &:focus{
                        outline: none;
                    }
                }
            }
            .textarea_content{
                display: block;
                height: 100%;
                background: #F2F2F2;
                font-size: __vw(22);
                border-radius: __vw(5);
                position: relative;
                textarea{
                    font-size: __vw(22);
                    line-height: 150%;
                    height: __vw(500);
                    border: none;
                    background: transparent;
                    resize: none;
                    padding: __vw(20);
                }
                .count_number{
                    position: absolute;
                    bottom: __vw(20);
                    right: __vw(20);
                    font-size: __vw(30);
                    .current{
                        display: inline-block;
                        color: #666666;
                        margin-right: 0.5rem;
                    }
                }
            }
            .buttons{
                margin-top: __vw(50);
                display: flex;
                gap: __vw(20);
                font-weight: 500;
                .button{
                    font-size: __vw(30);
                    text-align: center;
                    width: 100%;
                    border: none;
                    padding: __vw(20);
                    background: #000;
                    border-radius: __vw(5);
                    letter-spacing: -0.01em;
                    color: #fff;
                    &[data-disabled="true"]{
                        background: #F2F2F2;
                        color: #fff;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

.dim{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.45);
    transition: 0.5s;
    .popup{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        width: __vw(500);
        height: __vw(400);
        background: #fff;
        border: 1px solid black;
        border-radius: __vw(25);
        padding: __vw(20);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h5{
            font-size: __vw(30);
            margin-bottom: __vw(50);
        }
        .buttons{
            width: 100%;
            display: flex;
            gap: __vw(10);
            .button{
                font-size: __vw(30);
                text-align: center;
                width: 100%;
                border: none;
                padding: __vw(20);
                background: #000;
                border-radius: __vw(5);
                letter-spacing: -0.01em;
                color: #fff;
            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
.title {
    font-size: 2
}